.header {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	border-bottom: 2px solid gray;
	padding-bottom: 30px;
}
.heading {
	text-align: center;
}
.header-buttons {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	gap: 5px;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;
}
.settings {
	width: 25%;
}
.menuButtons {
	width: 50%;
}
.leaveButtonP {
	width: 25%;
}
.leaveLink {
	float: right;
}
