.header {
	display: flex;
	justify-content: space-between;
}
.heading {
	text-align: center;
}
.header-buttons {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	gap: 5px;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;
}
